{% extends 'app/base2.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block content %}

<style>
    .assignment .header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: var(--color-white);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.assignment .header #left div{
    margin-right: 10px;
    border: 1px solid var(--color-primary);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.assignment .header #left div:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.assignment .header div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.assignment .header div h5{
    font-weight: 600;
    font-size: 20px;
    color: var(--color-gray-dark);
}
.assignment .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 30px;
}
.assignment .cards .card{
    background: var(--color-white);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.assignment .cards .card h6{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-gray-light);
}
.assignment .cards .card .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px 0px;
}
.assignment .cards .card .row div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.assignment .cards .card .row img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
p{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gray-light);
}
.material-icons-sharp{
    font-size: 14px;
    color: var(--color-gray-light);
    font-weight: 300;
}
textarea{
    width: 700px;
    border: 1px solid var(--color-primary);
    padding: 10px;
    border-radius: 5px;
}

    /* add btn */
    .add{
        padding: 10px 25px;
        border: 1px dashed var(--color-primary);
        color: var(--color-primary);
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 50px;
        right: 30px;
        cursor: pointer;
    }
    
    .add:hover{
        background: var(--color-primary);
        color: var(--color-white);
    }

    /* Modal styles */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      transition: all 300ms ease;
    }
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      border-radius: 10px;
      width: 50%; /* Could be more or less, depending on screen size */
    }
    .close,
    .close2,
    .close3,
    .close4 {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus,
    .close2:hover,
    .close2:focus,
    .close3:hover,
    .close3:focus,
    .close4:hover,
    .close4:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* popup */
    .info{
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 20px;
        }
        .info h5{
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            color: var(--color-gray-light);
            margin-bottom: 10px;
        }
        .info form {
            /* border: 1px dotted blue; */
            border-radius: 5px;
            padding: 20px;
        }
        .info form .row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            margin-bottom: 10px;
        }
        .info form .row div{
            display: flex;
            flex-direction: column;
        }
        .info form .row div label{
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 5px;
            color: var(--color-gray-light);
        }
        .info form .row div input,
        .info form .row div select
        {
            padding: 10px;
            border: 1px solid var(--color-primary);
            border-radius: 5px;
            background: transparent;
            font-size: 14px;
            color: var(--color-gray-light);
            width: 300px;
        }
        .info form button {
            padding: 10px 30px;
            background: var(--color-primary);
            border: none;
            color: #fff;
            cursor: pointer;
        }
</style>

{% if user|is_in_group:"directors" or user|is_in_group:"hr" %}
<section class="assignment">
    <div class="header">
        <div id="left">
            <div>
                <h5>Task Total ( {{all_assignment_total}} )</h5>
            </div>
            <div>
                <h5>On Progress (10)</h5>
            </div>
            <div>
                <h5>Completed (90)</h5>
            </div>
        </div>
        <div>
            <div class="add" id="openModalBasic">
                <span class="material-icons-sharp">add</span>
                Add Assignment
            </div>
        </div>
        
    </div>
    <div class="cards">
        {% for i in all_assignment %}
            <a href="{% url 'assignmentDetails' i.id %}">
                <div class="card">
                    <p>{{i.issuedDate}}</p>
                    <h6>{{i.description}}</h6>
                    <p>From: {{i.assigned_by}}</p>
                    <div class="row">
                        <div>
                            <img src="{% static 'app/images/profile-1.jpg' %}" alt="">
                            <p>{{i.assigned_to.first_name}}</p>
                        </div>
                        
                        <div>
                            <span class="material-icons-sharp">schedule</span>
                            <p>Due date {{i.dueDate}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>

    
        <!--Project Add -->
<div id="basic" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      
      <section class="info">
        
        <form action="{% url 'assignmentAdd' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>Add New Assignment</h5>
            <div class="row">
                <div>
                    <label for="client">Assign To</label>
                    <select class="form-control" name="assigned_to" required>
                        <option value=""> -- </option>
                        {% for x in employee %}
                            <option value="{{ x.id }}">
                                {{ x.username }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="startDate">Due Date</label>
                    <input type="date" name="dueDate">
                </div>
                
            </div>
            
            <div class="row">
                <div>
                    <label for="startDate">Assignment Descriptions</label>
                    <textarea name="description" id="" rows="5"></textarea>
                </div>
            </div>
            
            <button type="submit">Add Assignment</button>
        </form>
      </section>

    </div>
</div>

<!--Basic info Script -->
<script>
    // Get the modal
    var modal = document.getElementById("basic");
  
    // Get the button that opens the modal
    var btn = document.getElementById("openModalBasic");
  
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
  
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
  
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

</section>
{% else %}
<section class="assignment">
    <div class="header">
        <div id="left">
            <div>
                <h5>Task Total ( {{all_assignment_total}} )</h5>
            </div>
            <div>
                <h5>On Progress (10)</h5>
            </div>
            <div>
                <h5>Completed (90)</h5>
            </div>
        </div>

        
    </div>
    <div class="cards">
        {% for i in user_assignment %}
            <a href="{% url 'assignmentDetails' i.id %}">
                <div class="card">
                    <p>{{i.issuedDate}}</p>
                    <h6>{{i.description}}</h6>
                    <p>From: {{i.assigned_by}}</p>
                    <div class="row">
                        <div>
                            <img src="{% static 'app/images/profile-1.jpg' %}" alt="">
                            <p>{{i.assigned_to.first_name}}</p>
                        </div>
                        
                        <div>
                            <span class="material-icons-sharp">schedule</span>
                            <p>Due date {{i.dueDate}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>


</section>
{% endif %}

{% endblock %}