{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'app/home2.css' %}">
          <!-- Cleave.js CSS (optional, for styling) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/addons/cleave-phone.us.css" />
        <!-- Cleave.js JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
</head>
<body>

    <!-- start of navbar -->
    <nav>
        <div class="container">
            <img src="{% static 'app/images/logo1.png' %}" class="logo" alt="">
            <div class="search-bar">
                <span class="material-icons-sharp">search</span>
                <input type="search" placeholder="search">
            </div>
            <div class="profile-area">
                <div class="theme-btn">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="profile-photo">
                        {% if user.image %}
                        <img src="{{user.image.url}}" alt="">
                        {% else %}
                        <img src="{% static 'app/images/profile-1.jpg' %}" alt="">
                        {% endif %}
                    </div>
                    <h5>{{user.username}}</h5>
                    <span class="material-icons-sharp">expand_more</span>
                </div>
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->

    <main>
        <!-- aside -->
        <aside>
            <button id="close-btn">
                <span class="material-icons-sharp">close</span>
            </button>

            <div class="sidebar">
                <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">
                    <span class="material-icons-sharp">dashboard</span>
                    <h4>Dashboard</h4>
                </a>

                {% if user|is_in_group:"directors" or user|is_in_group:"hr" %}
                <a href="{% url 'employees' %}" class="{% if request.path == '/employees/' %}active{% endif %}">
                    <span class="material-icons-sharp">badge</span>
                    <h4>Employee</h4>
                </a>
                {% else%}
                <a href="{% url 'user_details' %}" class="{% if request.path == '/employees/' %}active{% endif %}">
                    <span class="material-icons-sharp">badge</span>
                    <h4>Profile</h4>
                </a>
                {% endif %}

                {% if user|is_in_group:"finance" or user|is_in_group:"directors" or user|is_in_group:"hr" %}
                    <a href="{% url 'project' %}" class="{% if request.path == '/project/' %}active{% endif %}">
                        <span class="material-icons-sharp">construction</span>
                        <h4>Project</h4>
                    </a>
                    <a href="{% url 'clients' %}" class="{% if request.path == '/clients/' %}active{% endif %}">
                        <span class="material-icons-sharp">local_mall</span>
                        <h4>Clients</h4>
                    </a>
                {% endif %}

                <a href="{% url 'leaves' %}" class="{% if request.path == '/leaves/' %}active{% endif %}">
                    <span class="material-icons-sharp">bed</span>
                    <h4>Leaves</h4>
                </a>
                <a href="{% url 'salaryAdvance' %}" class="{% if request.path == '/salaryAdvance/' %}active{% endif %}">
                    <span class="material-icons-sharp">currency_exchange</span>
                    <h4>Salary Advance</h4>
                </a>
                <a href="{% url 'assignment' %}" class="{% if request.path == '/assignment/' %}active{% endif %}">
                    <span class="material-icons-sharp">assignment</span>
                    <h4>Assignments</h4>
                </a>
                <a href="{% url 'company' %}" class="{% if request.path == '/company/' %}active{% endif %}">
                    <span class="material-icons-sharp">settings</span>
                    <h4>Company</h4>
                </a>
                
            </div>

            <div class="updates">
                <span class="material-icons-sharp">update</span>
                <h4>TIES</h4>
                <p>Mining Consulting</p>
                <p>Company</p>
                <a href="{% url 'overview' %}">Finance</a>
            </div>
 
        </aside>
        <!-- end of aside -->

        {% block content %}

        {% endblock %}

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'app/home.js' %}"></script>
    <script>
        // show or hide sidebar
            const menuBtn = document.querySelector('#menu-btn');
            const closeBtn = document.querySelector('#close-btn');
            const sidebar = document.querySelector('aside');

            menuBtn.addEventListener('click', () => {
                sidebar.style.display = 'block';
            })

            closeBtn.addEventListener('click', () => {
                sidebar.style.display = 'none';
            })
    </script>
    
</body>
</html>