{% extends 'app/base2.html' %}
{% load static %}
{% block content %}

<style>
    .project {
        /* Main container for the project section */
    }

    .project .top {
        display: grid; /* Utilize CSS Grid layout for the top section */
        grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
        gap: 20px; /* Set a gap of 20 pixels between grid items */
    }
    .project .top .category{
        background: var(--color-white);
        border-radius: 10px;
    }
    .project .top .category h5{
        font-size: 20px;
        padding: 15px;
        color: var(--color-gray-light);
    }
    .project .top .category h3{
        font-size: 40px;
        padding: 15px;
        color: var(--color-gray-dark);
    }
    .project .cards{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .project .cards .card {
        background: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .project .cards .card .left h5{
        font-size: 20px;
        color: var(--color-gray-dark);
        padding: 20px;
        cursor: pointer;
    }
    .project .cards .card .left h6{
        font-size: 15px;
        color: var(--color-gray-light);
        padding: 0 20px 20px 20px;
        cursor: pointer;
    }
    .project .cards .card .right{
        margin-right: 20px;
        cursor: pointer;
    }
    .project .add{
        height: 50px;
        width: 50px;
        border: 1px dashed var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 50px;
        right: 30px;
        cursor: pointer;
    }
    .project .add:hover{
        background: var(--color-primary);
        color: var(--color-white);
    }


    /* Modal styles */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      border-radius: 20px;
      width: 60%; /* Could be more or less, depending on screen size */
    }
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus{
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* popup */
    .info{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }
        .info h5{
            font-size: 28px;
            font-weight: 800;
            text-align: center;
            color: var(--color-gray-light);
        }
        .info form {
            border: 1px dotted blue;
            border-radius: 5px;
            padding: 20px;
        }
        .info form .row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            margin-bottom: 10px;
        }
        .info form .row div{
            display: flex;
            flex-direction: column;
        }
        .info form .row div label{
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
            color: var(--color-gray-light);
        }
        .info form .row div input{
            padding: 10px;
            border: 1px solid #86848c;
            border-radius: 5px;
            background: transparent;
            font-size: 14px;
            color: var(--color-gray-light);
            width: 300px;
        }
        .info form button {
            padding: 10px 30px;
            background: var(--color-primary);
            border: none;
            color: #fff;
            cursor: pointer;
        }

    /* MEDIA QUERY FOR MOBILE PHONE */
    @media screen and (max-width: 600px) {
        .project .top{
            grid-template-columns: repeat(2, 1fr);
            margin: 0 2px 10px 2px;
        }
        .project .cards{
            grid-template-columns: 1fr;
            margin: 0 2px 0 2px;
        }
        /* popup */
        .info{
            height: auto;
        }
        .info form .row{
            grid-template-columns: 1fr;
        }
        .info form .row div{
            display: flex;
            flex-direction: column;
        }
        .info form button {
            width: 100%;
        }

        /* Modal styles */
        
        .modal-content {
            width: 95%; 
        }
    }
</style>

<section class="project">

    <!-- <div class="top">
        <div class="category">
            <h5>All Projects</h5>
            <h3>11</h3>
        </div>
        <div class="category">
            <h5>Completed Projects</h5>
            <h3>4</h3>
        </div>
        <div class="category">
            <h5 class="header">Projects inprogress</h5>
            <h3>7</h3>
        </div>
    </div> -->

    <div class="cards">

        {% for x in clients %}
        <div class="card">
            <a href="{% url 'clientDetails' x.id %}">
                <div class="left">
                    <h5>{{x.clientName}}</h5>
                    <h6>{{x.address}}</h6>
                </div>
            </a>
            <div class="right">
                <span class="material-icons-sharp">more_horiz</span>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <div class="add" id="openModalBasic">
        <span class="material-icons-sharp">add</span>
    </div>



    <!--Add info client -->
<div id="basic" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      
      <section class="info">
        
        <form action="{% url 'clientAdd' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>Add New Client</h5>
            <div class="row">
                <div>
                    <label for="clientName">Client Name</label>
                    <input type="text" name="clientName" value="{{employee.clientName}}">
                </div>
                <div>
                    <label for="address">Address</label>
                    <input type="text" name="address" value="{{employee.address}}">
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="representativeName">Representative Name</label>
                    <input type="text" name="representativeName" value="{{employee.representativeName}}">
                </div>
                <div>
                    <label for="representativeTitle">Representative Title</label>
                    <input type="text" name="representativeTitle" value="{{employee.representativeTitle}}">
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" value="{{employee.email}}">
                </div>
                <div>
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" value="{{employee.phone}}">
                </div>
            </div>
            
            <button type="submit">Add Client</button>
        </form>
      </section>

    </div>
</div>

</section>

<!--Basic info Script -->
<script>
    // Get the modal
    var modal = document.getElementById("basic");
  
    // Get the button that opens the modal
    var btn = document.getElementById("openModalBasic");
  
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
  
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
  
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

{% endblock %}