{% extends 'app/base2.html' %}
{% load static %}
{% block content %}

<style>
    .company{
        margin-top: 20px;
    }
    .company .top{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .company .top .card,
    .company .top .time {
        background: var(--color-white);
        padding: 20px;
        border-radius: 10px;
    }
    .company .card_doc .card h4,
    .company .top .card h4,
    .company .top .time h4,
    .company .main-section h4 {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-gray-dark);
        margin-bottom: 10px;
    }
    .company .top .card .line,
    .company .top .time .line,
    .company .main-section .line{
        height: 1px;
        width: 100%;
        background: var(--color-gray-light);
        margin-bottom: 10px;
    }
    .company .top .card .days{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .company .top .card .days p{
        font-size: 14px;
        font-weight: 300;
        color: var(--color-white);
        background: var(--color-primary);
        padding: 3px 10px 3px 10px;
        border-radius: 7px;
    }
    .company .top .card .days .off{
        font-size: 14px;
        font-weight: 300;
        color: var(--color-white);
        background: var(--color-gray-light);
        padding: 3px 10px 3px 10px;
        border-radius: 7px;
    }
    .company .top .time div{
        display: flex;
        justify-content: space-between;
    }
    .company .top .time div p,
    .company .top .time div span{
        font-size: 16px;
        font-weight: 300;
        color: var(--color-gray-light);
    }
    .company .top .time div span{
        color: var(--color-primary);
    }
    
    .company .main-section{
        background: var(--color-white);
        padding: 20px;
        margin-top: 20px;
    }
    .company .card_doc .card table,
    .company .main-section table{
        width: 100%;
    }
    .company .card_doc .card table tr th,
    .company .main-section table tr th{
        font-size: 16px;
        font-weight: 600;
        color: var(--color-gray-light);
        text-align: start;
    }
    .company .card_doc .card table tr td,
    .company .main-section table tr td{
        font-size: 14px;
        font-weight: 300;
        color: var(--color-gray-light);
        text-align: start;
        padding: 5px 0px 5px 0;
    }

    .company .card_doc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .company .card_doc .card{
        background: var(--color-white);
        padding: 10px;
        margin: 20px 0;
    }
    .company .card_doc .card .line{
        height: 1px;
        width: 100%;
        background: var(--color-gray-dark);
        margin: 10px 0;
    }

    /* add btn */
    .add{
        padding: 10px 25px;
        border: 1px dashed var(--color-primary);
        color: var(--color-primary);
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 50px;
        right: 30px;
        cursor: pointer;
    }
    
    .add:hover{
        background: var(--color-primary);
        color: var(--color-white);
    }

    /* Modal styles */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      transition: all 300ms ease;
    }
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      border-radius: 10px;
      width: 50%; /* Could be more or less, depending on screen size */
    }
    .close,
    .close2,
    .close3,
    .close4 {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus,
    .close2:hover,
    .close2:focus,
    .close3:hover,
    .close3:focus,
    .close4:hover,
    .close4:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* popup */
    .info{
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 20px;
        }
        .info h5{
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            color: var(--color-gray-light);
            margin-bottom: 10px;
        }
        .info form {
            /* border: 1px dotted blue; */
            border-radius: 5px;
            padding: 20px;
        }
        .info form .row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            margin-bottom: 10px;
        }
        .info form .row div{
            display: flex;
            flex-direction: column;
        }
        .info form .row div label{
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 5px;
            color: var(--color-gray-light);
        }
        .info form .row div input,
        .info form .row div select
        {
            padding: 10px;
            border: 1px solid var(--color-primary);
            border-radius: 5px;
            background: transparent;
            font-size: 14px;
            color: var(--color-gray-light);
            width: 300px;
        }
        .info form button {
            padding: 10px 30px;
            background: var(--color-primary);
            border: none;
            color: #fff;
            cursor: pointer;
        }

        @media screen and (max-width: 700px) {
            .company .top{
                grid-template-columns: 1fr;
            }
            .company .card_doc{
                grid-template-columns: 1fr;
            }
            /* popup */
            .info{
                height: auto;
            }
            .info form .row{
                grid-template-columns: 1fr;
            }
            .info form .row div{
                display: flex;
                flex-direction: column;
            }
            .info form button {
                width: 100%;
            }

            .info form .row div input,
            .info form .row div select
            {
                width: 100%;
            }
            .info form .row div textarea
            {
                width: 100%;
            }

            /* Modal styles */
            
            .modal-content {
                width: 95%; 
            }

            /* Progress */
            .progress-container {
                width: 300px;
            }
        }
    
</style>

<section class="company">
    <div class="top">
        <div class="card">
            <h4>Working Week</h4>
            <div class="line"></div>
            <div class="days">
                <p>Mon</p>
                <p>Tue</p>
                <p>Wed</p>
                <p>Thur</p>
                <p>Fri</p>
                <p class="off">Sat</p>
                <p class="off">Sun</p>
            </div>
        </div>
        <div class="time">
            <h4>Company Default</h4>
            <div class="line"></div>
            <div>
                <p>Year Start</p>
                <span>Jan</span>
                <p>Work Duration</p>
                <span>0800 - 1600</span>
            </div>
        </div>
        
    </div>


    <div class="card_doc">
        <div class="card">
            <h4>Company to Employers</h4>
            <div class="line"></div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Uploaded Date</th>
                    <th>Download</th>
                    <th>Delete</th>
                </tr>
                {% for i in employeeCode %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.signedDate}}</td>
                    <td><a href=""><span class="material-icons-sharp">download</span></a></td>
                    <td><a href=""><span class="material-icons-sharp">delete</span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card">
            <h4>Company Certificate</h4>
            <div class="line"></div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Uploaded Date</th>
                    <th>Download</th>
                    <th>Delete</th>
                </tr>
                {% for i in certificate %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.signedDate}}</td>
                    <td><a href=""><span class="material-icons-sharp">download</span></a></td>
                    <td><a href=""><span class="material-icons-sharp">delete</span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card">
            <h4>Secretarial Reports</h4>
            <div class="line"></div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Uploaded Date</th>
                    <th>Download</th>
                    <th>Delete</th>
                </tr>
                {% for i in secretarialReport %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.signedDate}}</td>
                    <td><a href=""><span class="material-icons-sharp">download</span></a></td>
                    <td><a href=""><span class="material-icons-sharp">delete</span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card">
            <h4>Others</h4>
            <div class="line"></div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Uploaded Date</th>
                    <th>Download</th>
                    <th>Delete</th>
                </tr>
                {% for i in other %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.signedDate}}</td>
                    <td><a href=""><span class="material-icons-sharp">download</span></a></td>
                    <td><a href=""><span class="material-icons-sharp">delete</span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div>
        <div class="add" id="openModalBasic">
            <span class="material-icons-sharp">add</span>
            Add Pdf
        </div>
    </div>



            <!--Project Add -->
<div id="basic" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      
      <section class="info">
        
        <form action="{% url 'companyPdfAdd' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>Add New Documents</h5>
            <div class="row">
                <div>
                    <label for="client">Category</label>
                    <select class="form-control" name="category" required>
                        <option value=""> -- </option>
                            <option value="employeeCode">Employee code</option>
                            <option value="certificate">Certificate</option>
                            <option value="secretarialReport">SecretarialReport</option>
                            <option value="other">Other</option>
                    </select>
                </div>
                <div>
                    <label for="startDate">Title</label>
                    <input type="text" name="title">
                </div>
                <div>
                    <label for="startDate">Document Pdf</label>
                    <input type="file" name="pdfFile">
                </div>
                
            </div>
            
            
            <button type="submit">Add Assignment</button>
        </form>
      </section>

    </div>
</div>

<!--Basic info Script -->
<script>
    // Get the modal
    var modal = document.getElementById("basic");
  
    // Get the button that opens the modal
    var btn = document.getElementById("openModalBasic");
  
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
  
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
  
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

</section>




{% endblock %}