{% extends 'finance/base2.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<style>
    .analytics{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .analytics .cat-1{
        background: var(--color-white);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .analytics .cat-1 h6{
        font-size: 18px;
        font-weight: 500;
        color: var(--color-gray-dark);
    }
    .analytics .cat-1 p{
        font-size: 14px;
        font-weight: 200;
        color: var(--color-gray-light);
    }
    .analytics .cat-1 button{
        font-size: 14px;
        font-weight: 500;
        color: var(--color-white);
        padding: 10px 20px;
        background: var(--color-warning);
        border-radius: 10px;
        cursor: pointer;
    }

</style>

<section class="analytics">
    <div class="cat-1">
        
        <h6>Income Statement</h6>
        <p>
            Shows the company's revenue, expenses, and profits 
            over a specific period (monthly, quarterly, or annually)
        </p>
        <a href="{% url 'incomeStatement' %}"><button>Exprole More</button></a>
    </div>
    <div class="cat-1">
        <h6>Balance Sheet</h6>
        <p>
            showing what it owns (assets) and owes (liabilities), along with the owner's equity
        </p>
        <a href="{% url 'balanceSheet' %}"><button>Exprole More</button></a>
    </div>
    <div class="cat-1">
        <h6>Cash Flow Statement</h6>
        <p>
            Tracks the flow of cash in and out of the business over a period, detailing cash generated 
            and used in operating, investing, and financing activities
        </p>
        <button>Exprole More</button>
    </div>
    <div class="cat-1">
        <h6>Statement of Changes in Equity</h6>
        <p>
            Shows the changes in the company's equity over a specific period
        </p>
        <button>Exprole More</button>
    </div>
</section>



{% endblock %}