{% extends 'finance/base2.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<style>
    .incomeStatement{
        padding: 10px 50px;
        box-sizing: border-box;
    }
    .incomeStatement h3{
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        color: var(--color-gray-dark);
        margin: 10px;
    }
    .incomeStatement .selection{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin: 10px;
    }
    .incomeStatement .selection div select{
        width: 350px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
    .incomeStatement .selection div option{
        font-size: 16px;
        font-weight: 600;
    }
    .incomeStatement .selection div button{
        padding: 10px 30px;
        color: var(--color-white);
        background: var(--color-warning);
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    .statement{
        background: var(--color-white);
        padding: 20px;
        margin: 40px 0px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .statement .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .statement .top img{
        height: 50px;
        width: auto;
    }
    .statement .top div{
        text-align: end;
    }
    .statement .top div h5{
        font-size: 20px;
        color: var(--color-primary);
        font-weight: 800;
    }
    .statement .top div p{
        font-size: 14px;
        color: var(--color-gray-dark);
        font-weight: 400;
    }
    .centre{
        margin: 20px 0px;
    }
    .centre div{
        display: grid;
        grid-template-columns: 3fr  1fr;
    }
    .centre div#header{
        background: var(--color-primary);
        padding: 10px;
        color: var(--color-white);
        font-size: 18px;
        font-weight: 600;
    }
    .centre div li{
        font-size: 16px;
        font-weight: 400;
        margin: 10px 10px;
        
    }
    .centre div li#title{
        font-weight: 800;
        font-size: 18px;
        color: var(--company-color-2);
    }
    .centre div li#data{
        text-align: end;
        font-weight: 600;
    }
    div#line{
        height: 1px;
        width: 100%;
        background: var(--color-gray-dark);
    }
    div#subheader{
        margin: 30px 0px 0px 0px;
        background: var(--company-color-2);
        color: var(--color-dark);
    }
    form{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        align-items: center;
        gap: 20px;
    }
    form label{
        font-size: 16px;
        font-weight: 400;
    }
    form input{
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
    form div button{
        background: var(--color-primary);
        padding: 10px;
        cursor: pointer;
        color: var(--color-white);
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        border: none;
    }
    div#headTitle li{
        font-size: 20px;
        margin: 10px 0 1px 0;
        font-weight: 600;
        color: var(--company-color-1);
    }
</style>

<section class="incomeStatement">
    <h3>Income Statement (Profit and Loss Statement)</h3>

    <form method="get" action="{% url 'incomeStatement' %}">
        <div>
            <label for="start_date">Start Date:</label>
            <input type="date" name="start_date" id="start_date" required>
        </div>
        <div>
            <label for="end_date">End Date:</label>
            <input type="date" name="end_date" id="end_date" required>
        </div>
        <div>
            <button type="submit">Generate Report</button>
        </div>
        
    </form>

    <div class="statement">
        <div class="top">
            <img src="{% static 'app/images/logo1.png' %}" alt="">
            <div>
                <h5>Income Statement</h5>
                {% if start_date and end_date %}
                    <p>Income Statement from {{ start_date|date:"F j, Y" }} to {{ end_date|date:"F j, Y" }}</p>
                {% else %}
                    <p>For the Year Ending [Dec 31,2024]</p>
                {% endif %}
            </div>
        </div>
        <div class="centre">
            <div id="subheader">
                <li>Description</li>
                <li id="data">Amount</li>
            </div>
            <div id="headTitle">
                <li>REVENUE</li>
                <!-- <li id="data">{{total_revenue|intcomma}}</li> -->
            </div>
            {% for i in payments %}
            <div>
                <li>{{i.title}} - {{i.project.title}} - {{i.project.client.clientName}}</li>
                <li id="data">{{i.amount|intcomma}}</li>
            </div>
            {% endfor %}
            <div id="line"></div>
            <div>
                <li>Total Services Revenue</li>
                <li id="data">{{total_revenue|intcomma}}</li>
            </div>
            <div id="line"></div>
            <div>
                <li id="title">Cost of Goods Sold (COGS)</li>
            </div>
            <div>
                <li>Opening balance stock</li>
                <li id="data">{{total_cost_before_start_date|intcomma}}</li>
            </div>
            <div>
                <li>Purchases</li>
                <li id="data">{{total_project_purchases|intcomma}}</li>
            </div>
            <div>
                <li>Direct cost</li>
            <li id="data">{{total_projectDirectCost|intcomma}}</li>
            </div>
            <div>
                <li>Closing stock</li>
                <li id="data">{{closing_stock|intcomma}}</li>
            </div>
            <div id="line"></div>
            <div>
                <li>Total Cost of sales</li>
                <li id="data">{{COGS|intcomma}}</li>
            </div>
            <div id="line"></div>
            <div>
                <li id="title">GROSS PROFIT</li>
                <li id="data">{{gross_profit|intcomma}}</li>
            </div>
            
            <div id="headTitle">
                <li>EXPENSES</li>
            </div>

            <div>
                <li id="title">Projects Expenses</li>
            </div>
            {% for i in expenses %}
            <div>
                <li>{{i.title}} - {{i.project.title}} - {{i.project.client.clientName}}</li>
                <li id="data">{{i.amount|intcomma}}</li>
            </div>
            {% endfor %}

            <div>
                <li id="title">Office Expenses</li>
            </div>
            {% for i in office_expenses %}
            <div>
                <li>{{i.title}} - {{i.category.title}}</li>
                <li id="data">{{i.amount|intcomma}}</li>
            </div>
            {% endfor %}
            <div>
                <li id="title">Depreciation and Amortization</li>
                <li id="data"> - </li>
            </div>
            <div id="line"></div>
            <div>
                <li>Total Expenses</li>
                <li id="data">{{sum_expenses|intcomma}}</li>
            </div>
            <div id="line"></div>
            <div id="headTitle" style="margin-top: 20px;">
                <li>OPERATING INCOME</li>
                <li id="data">{{operating_income|intcomma}}</li>
            </div>
            <div id="headTitle" style="margin-top: 20px;">
                <li>NET PROFIT BEFORE TAX</li>
                <li id="data">{{operating_income|intcomma}}</li>
            </div>
        </div>
    </div>


    <div>
  
    </div>
    
</section>

{% endblock %}